.App {
  text-align: center;
}
.overflowX {
  width: 100%;
  overflow-x: auto;
  margin-top: 10;
  margin-bottom: 10;
  padding-left: 100;
}

.overflowX::-webkit-scrollbar {
  display: none;
}


.stickyL {
  position: sticky !important;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: white;
}
.stickyR {
  position: sticky !important;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: white;
}

.rt-tbody {
  overflow: visible !important;
}

.event-icon:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.speech-bubble {
	position: relative;
	background: white;
  border-radius: .4em;
  border: 2px solid grey;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-top-color: grey;
	border-bottom: 0;
	border-left: 0;
	margin-left: -11px;
  margin-bottom: -22px;
} */

