.App {
  text-align: center;
}
.overflowX {
  width: 100%;
  overflow-x: auto;
  margin-top: 10;
  margin-bottom: 10;
  padding-left: 100;
}

.overflowX::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 12px;
  font-weight: 'bold';
}
span {
  font-size: 12px
}